@model Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    User Name @Html.EditorFor(m=>m.Name, null, new { htmlAttributes = new { @class = "form-control" } })
    password @Html.EditorFor(m=>m.password, null, new { htmlAttributes = new { @class = "form-control" } })
    <button type="submit" style="width:50px;height:30px"> SIGN </button>
</form>
