@model Models.Role

@{
    ViewBag.Title = "update";
}

<h2>update</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <br />



        <form class="form-horizontal" role="form" method="post">


            <label class="control-label col-sm-2" for="email">Name:</label>

            @Html.EditorFor(item => item.Role_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(item => item.Role_Name, "", new { @class = "text-danger" })

            <br />

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <button type="submit">Create</button>
        </form>
        <br />
        @Html.ActionLink("RETURN", "index")
    </div>


    <script src="../ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min_2.js"></script>
    <script src="../maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>